# Editor configuration file.
#
# If you are developing in WebStorm, BBEdit, Coda or SourceLair
# this file is already supported and no additional setup
# is required.
#
# If you are using a different editor, visit
# http://editorconfig.org and under «Download a Plugin»
# download the plugin for your editor.


root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
